//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
   outline: none;
   display: inline-flex;
   text-align: center;
   justify-content: center;
   padding: rem(20) rem(32);
   background-color: #f2323d;
   transition: all 0.3s ease;
   font-size: rem(20);
   font-weight: 600;
   border-radius: rem(6);
   @media (any-hover: hover) {
      &:hover {
         background-color: #c9000c;
      }
   }
   &._fw {
      width: 100%;
   }
}
